@charset "utf-8";

body {
    background-color: #7A89C2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color: #E3D7FF;
}

#principal {
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    color: #E3D7FF;
    font-weight: 600;
}

.basico {
    color: green;
    font-weight: 300;
}

.intermediario {
    color:yellow;
    font-weight: 600;
}

.avancado {
    color: red;
    font-weight: 900;
}
/*
    Em HTML é "id" => Em CSS é "#"
    Em HTML é "class" => Em CSS é "."
    Destro de um documento só posso colocar o "id" uma única vez.
*/