@charset "utf-8";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

a {
    color: rgb(60, 100, 164);
}

a:visited {
    color: darkred; 
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color:yellow;
}

a::after {
    content: ' [ link ]';
    text-decoration: none;
    font-weight: 100;
}

.especial::after {
    content: '<=';
}

.especial::before {
    content: '=>';
}