@charset "utf-8";

*{
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient( to right, #545f66, #BFC0C0) 
}

main {
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #200116;
}

h1 {
    color: #200116;
}

h2 {
    color:#EF8354;
}
p{
    text-align: justify;
}