@charset "utf-8";

header {
    text-align: center;
    background-color: rgb(10, 93, 24);
    color: white;
}

#menu {
    color: white;
    text-align: left;
}

body {
    justify-content: center;
}

header .menu {
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px bold;
}

main {
    background-color: rgb(89, 177, 103);
    width: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: rgb(10, 93, 24);
    text-align: center;
    color: white;
}