@charset "utf-8";

header {
    text-align: center;
    background-color: rgb(10, 93, 24);
    color: white;
    border-radius: 7px;
}

#menu {
    color: white;
    text-align: left;
    background-color: rgb(133, 187, 142);
    border-radius: 5px;
    padding-left: 10px;
}

.menuprincipal {
    justify-content: center;
    align-items: center;
}


a:link {
    color: black;
}

a:hover {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
}
body {
    justify-content: center;
    background-color: rgb(221, 222, 150);
}

header .menu {
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px bold;
}

main {
    display: flex;
    background-color: rgb(255, 255, 255);
    color:black;
    width: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    background-color: rgb(10, 93, 24);
    text-align: center;
    color: white;
}